@import "tailwindcss";
@import "./assets/css/variables.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

html {
  background: url("/hartetoti-background.webp");
  background-size: cover;
  background-position: center;
}

body {
  min-height: 100vh;
  padding-top: var(--header-height);
}